<!DOCTYPE html>
    <!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
    <html class="no-js" lang="en" >
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>docTitle</title>

      <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/css/normalize.css">
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/css/foundation.css">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/js/vendor/modernizr.js"></script>
      <style type="text/css">
        @media print {    
            #stickyNav { display: none; }
        }
      </style>
    </head>
      <body>

  <!-- body content here -->
  <div class="row">
  <div class="large-12 columns">
  <!-- Your Rights -->
  <a name="top"></a> 
  <!-- Thumbnails -->
  <div class="row"  id="stickyNav">  
    <div class="large-12 medium-12 columns">
      <!-- Start magellan navigation -->
        <div class="magellan-container" data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;" style="">
          <dl class="sub-nav">
            <dd data-magellan-arrival="your-rights">
                <a href="#your-rights"><b>Sus derechos</b></a>
             </dd>
            <dd data-magellan-arrival="your-choices">
                <a href="#your-choices"><b>Sus opciones</b></a>
             </dd>
            <dd data-magellan-arrival="our-uses">
              <a href="#our-uses"><b>Nuestros usos y divulgaciones</b></a>
            </dd>
            <dd data-magellan-arrival="our-resp">
              <a href="#our-resp"><b>Nuestras responsabilidades</b></a>
            </dd>
            <dd data-magellan-arrival="top">
              <a href="#top"><b>Top ↑</b></a>
            </dd>
          </dl>
        </div>
      <!-- End magellan navigation -->  
    </div> 
  </div>

  <div class="row">
  </div>

  <form>
    <div class="row">
      <div class="medium-5 large-5 columns">
        <div class="panel callout radius" style="border:none; background:none;">
          <label style="font-size:18px;font-weight:bold;"><b>InstructionA-Data</b></label>
        </div>  
      </div>
      <div class="medium-7 large7 columns left">
        <div class="panel callout radius" style="border:none; background:none;">
          <label><b>InstructionB-Data</b></label>
        </div>  
      </div>
    </div>

  <!-- Intro -->
  <div class="row collapse panel radius">
    <div class="medium-6 large-4 columns">
      <h4>Su información.</h4>
      <h4>Sus derechos.</h4>
      <h4>Nuestras responsabilidades.</h4>
    </div>
    <div class="medium-6 large-8 columns">
        <p>Esta notificación describe cómo puede utilizarse y divulgarse su información médica, y cómo puede acceder usted a esta información.<br><b> Revísela con cuidado.</b></p>
    </div>
  </div>

  <div class="row collapse">
    <div class="medium-6 large-9 columns">
      <p></p>
    </div>
  </div>   

  <!-- Your Rights -->
  <a name="your-rights"></a> 
  <span class="alert label radius" data-magellan-destination="your-rights" style="background:#ef5121"><h3>Sus derechos</h3></span>

  <section class="panel callout radius">

    <div class="row collapse">
      <div class="medium-12 large-12 columns">
      <p><b>Cuando se trata de su información médica, usted tiene ciertos derechos.</b> Esta sección explica sus derechos y algunas de nuestras responsabilidades para ayudarlo.</p>
      </div>
      <hr> 
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Recibir una copia de su historial médico y de reclamos</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>Puede solicitar que le muestren o le entreguen una copia de su historial médico y reclamos y otra información médica que tengamos de usted. Pregúntenos cómo hacerlo.</li>
            <li>Le entregaremos una copia o un resumen de su historial médico y de reclamos, generalmente dentro de 30 días de su solicitud. Podemos cobrar un cargo razonable en base al costo.</li>
          </ul>  
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Solicitarnos que corrijamos el historial médico y de reclamos</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>Puede solicitarnos que corrijamos su historial médico y de reclamos si piensa que dichos historiales son incorrectos o están incompletos. Pregúntenos cómo hacerlo.</li>
            <li>Podemos decir "no" a su solicitud, pero le daremos una razón por escrito dentro de 60 días.</li>
          </ul>  
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Solicitar comunicaciones confidenciales</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>Puede solicitarnos que nos comuniquemos con usted de una manera específica (por ejemplo, por teléfono particular o laboral) o que enviemos la correspondencia a una dirección diferente.</li>
            <li>Consideraremos todas las solicitudes razonables y debemos decir “sí” si nos dice que estaría en peligro si no lo hacemos.</li>
          </ul>  
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Solicitarnos que
limitemos lo que utilizamos o compartimos</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>Puede solicitarnos que no utilicemos ni compartamos determinada información médica para el tratamiento, pago o para nuestras operaciones.</li>
            <li>No estamos obligados a aceptar su solicitud, y podemos decir "no" si esto afectara su atención.</li>
          </ul>  
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Recibir una lista de
aquellos con quienes hemos compartido información</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>Puede solicitar una lista (informe) de las veces que hemos compartido su información médica durante los seis años previos a la fecha de su solicitud, con quién la hemos compartido y por qué.</li>
            <li>Incluiremos todas las divulgaciones excepto aquellas sobre el tratamiento, pago y operaciones de atención médica, y otras divulgaciones determinadas (como cualquiera de las que usted nos haya solicitado hacer). Le
proporcionaremos un informe gratis por año pero cobraremos un cargo
razonable en base al costo si usted solicita otro dentro de los 12 meses.</li>
          </ul>  
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Obtener una copia de
esta notificación de privacidad</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>Puede solicitar una copia en papel de esta notificación en cualquier momento, incluso si acordó recibir la notificación de forma electrónica. Le
proporcionaremos una copia en papel de inmediato.</li>
          </ul>  
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Elegir a alguien para
que actúe en su nombre</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>Si usted le ha otorgado a alguien la representación médica o si alguien es su tutor legal, aquella persona puede ejercer sus derechos y tomar decisiones sobre su
información médica.</li>
            <li>••Nos aseguraremos de que la persona tenga esta autoridad y pueda actuar en su nombre antes de tomar cualquier medida.</li>
          </ul>  
        </div>
        <hr>
    </div>

     <div class="row">
        <div class="medium-6 large-4 columns"><b>Presentar una queja si
considera que se violaron sus derechos</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>Si considera que hemos violado sus derechos, puede presentar una queja comunicándose con nosotros por medio de la información</li>
            <li>Puede presentar una queja en la Oficina de Derechos Civiles del Departamento de Salud y Servicios Humanos enviando una carta a: Department of Health and Human Services, 200 Independence Avenue, S.W., Washington, D.C. 20201, llamando al 1-800-368-1019 o visitando <a href="http://www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/factsheets_spanish.html"><b>www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/factsheets_spanish.html</b></a> los últimos dos disponibles en español.</li>
            <li>No tomaremos represalias en su contra por la presentación de una queja.</li>
          </ul>  
        </div>
    </div>
  </section>

  <!-- Your Choices -->

  <a name="your-choices"></a> 
  <span class="alert label radius" data-magellan-destination="your-choices" style="background:#7cba01"><h3>Sus opciones</h3></span>

  <section class="collapse panel radius">
    <div class="row">
      <div class="medium-12 large-12 columns">  
        <p><b>Para determinada información médica, puede decirnos sus decisiones sobre qué compartimos.</b> Si tiene una preferencia clara de cómo compartimos su información en las situaciones descritas debajo, comuníquese con nosotros. Díganos qué quiere que hagamos, y seguiremos sus instrucciones.</p>
      </div>
       <hr> 
    </div>

    <div class="row">
      <div class="medium-6 large-4 columns"><b>En estos casos, tiene tanto el derecho como la opción de pedirnos que:</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>Compartamos información con su familia, amigos cercanos u otras personas involucradas en el pago de su atención.</li>
          <li>Compartamos información en una situación de alivio en caso de una catástrofe.</li>
          <li>Contact you for fundraising efforts</li>
        </ul>
        <p><i>Si no puede decirnos su preferencia, por ejemplo, si se encuentra inconsciente, podemos seguir adelante y compartir su información si creemos que es para beneficio propio. También podemos compartir su información cuando sea necesario para reducir una amenaza grave e inminente a la salud o seguridad.</i></p>  
      </div>
      <hr>
   </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>En estos casos, nunca compartiremos su información a menos que nos entregue un permiso por escrito:</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>Propósitos de mercadeo.</li>
            <li>Venta de su información.</li>
          </ul>  
        </div>
        <hr>
    </div> 

  </section>

  <!-- Our Uses and Disclosures -->

  <a name="our-uses"></a>
  <span class="alert label radius" data-magellan-destination="our-uses" style="background:#00a6f0"><h3>Nuestros usos y divulgaciones</h3></span>

  <section class="collapse panel callout radius">

    <div class="row">
      <div class="medium-12 large-12 columns">  
        <p><b>Por lo general, ¿cómo utilizamos o compartimos su información médica?</b><br> Por lo general, utilizamos o compartimos su información médica de las siguientes maneras.</p>
      </div>
       <hr> 
    </div>

    <div class="row">
      <div class="medium-2 large-2 columns"><b>Ayudar a administrar el tratamiento de atención médica que usted recibe</b></div>
      <div class="medium-5 large-5 columns">
        <ul class="disc">
          <li>Podemos utilizar su información médica y compartirla con otros profesionales que lo estén tratando.</li>
        </ul>  
      </div>
      <div class="medium-5 large-5 columns"><p><i><b>Ejemplo:</b>Un médico nos envía información sobre su diagnóstico y plan de tratamiento para que podamos organizar los servicios adicionales.</i></p></div>
      <hr>
    </div>

    <div class="row">
      <div class="medium-2 large-2 columns"><b>Dirigir nuestra organización</b></div>
      <div class="medium-5 large-5 columns">
        <ul class="disc">
          <li>Podemos utilizar y divulgar su información para dirigir nuestra organización y comunicarnos con usted cuando sea necesario.</li>
          <li><b>No se nos permite utilizar información genética para decidir si le proveemos cobertura y el precio de dicha cobertura.</b> Esto no se aplica a los planes de atención a largo plazo.</li>
        </ul>  
      </div>
      <div class="medium-5 large-5 columns"><p><i><b>Ejemplo:</b> Utilizamos su información médica para ofrecerle mejores servicios.</i></p></div>
      <hr>
    </div>

     <div class="row">
      <div class="medium-2 large-2 columns"><b>Pagar por sus servicios médicos</b></div>
      <div class="medium-5 large-5 columns">
        <ul class="disc">
          <li>Podemos utilizar y divulgar su información médica cuando pagamos por sus servicios médicos.</li>
        </ul>  
      </div>
      <div class="medium-5 large-5 columns"><p><i><b>Ejemplo:</b> Compartimos su información con su plan dental para coordinar el pago por su trabajo dental.</i></p></div>
      <hr>
    </div>

     <div class="row">
      <div class="medium-2 large-2 columns"><b>Administrar su plan</b></div>
      <div class="medium-5 large-5 columns">
        <ul class="disc">
          <li>Podemos divulgar su información médica a su patrocinador del plan médico para la administración del plan.</li>
        </ul>  
      </div>
      <div class="medium-5 large-5 columns"><p><i><b>Ejemplo:</b> Su compañía nos contrata para proveer un plan médico, y nosotros le proporcionamos a su compañía determinadas estadísticas para explicar las primas que cobramos.</i></p></div>
      <hr>
    </div>

     <div class="row">
      <div class="medium-12 large-12 columns">  
        <p><b>¿De qué otra manera podemos utilizar o compartir su información médica? </b>
          Se nos permite o exige compartir su información de otras maneras (por lo general, de maneras que contribuyan al bien público, como la salud pública e investigaciones médicas). Tenemos que reunir muchas condiciones legales antes de poder compartir su información con dichos propósitos. Para más información, visite: <a href="http://www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/factsheets_spanish.html"><b>www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/factsheets_spanish.html</b></a> disponible en español.
        </p>
      </div>
       <hr> 
    </div>

    <div class="row">
      <div class="medium-6 large-4 columns"><b>Ayudar con asuntos de salud pública y seguridad</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>Podemos compartir su información médica en determinadas situaciones, como:
              <ul class="disc">
                <li>Prevención de enfermedades.</li>
                <li>Ayuda con el retiro de productos del mercado.</li>
                <li>Informe de reacciones adversas a los medicamentos.</li>
                <li>Informe de sospecha de abuso, negligencia o violencia doméstica.</li>
                <li>Prevención o reducción de amenaza grave hacia la salud o seguridad de alguien.</li>
              </ul>
          </li>
        </ul>  
      </div>
      <hr>
    </div>

    <div class="row">
      <div class="medium-6 large-4 columns"><b>Realizar investigaciones médicas</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>Podemos utilizar o compartir su información para investigación de salud.</li>
        </ul>  
      </div>
      <hr>
    </div>

    <div class="row">
      <div class="medium-6 large-4 columns"><b>Cumplir con la ley</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>Podemos compartir su información si las leyes federales o estatales lo requieren, incluyendo compartir la información con el Departamento de Salud y Servicios Humanos si éste quiere comprobar que cumplimos con la Ley de Privacidad Federal.</li>
        </ul>  
      </div>
      <hr>
    </div>

  <div class="row">
      <div class="medium-6 large-4 columns"><b>Responder a las solicitudes de donación de órganos y tejidos y trabajar con un médico forense o director funerario</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>Podemos compartir su información médica con las organizaciones de procuración de órganos.</li>
          <li>Podemos compartir información médica con un oficial de investigación forense, médico forense o director funerario cuando un individuo fallece.</li>
        </ul>  
      </div>
      <hr>
  </div>

  <div class="row">
      <div class="medium-6 large-4 columns"><b>Tratar la compensación de trabajadores, el cumplimiento de la ley y otras solicitudes gubernamentales</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
            <li>Podemos utilizar o compartir su información médica:
                <ul class="disc">
                  <li>En reclamos de compensación de trabajadores.</li>
                  <li>A los fines de cumplir con la ley o con un personal de las fuerzas de seguridad.</li>
                  <li>Con agencias de supervisión sanitaria para las actividades autorizadas por ley.</li>
                  <li>En el caso de funciones gubernamentales especiales, como los servicios de protección presidencial, seguridad nacional y servicios militares.</li>
                </ul>
            </li>
        </ul>      
      </div>
      <hr>
  </div>

  <div class="row">
      <div class="medium-6 large-4 columns"><b>Responder a demandas y acciones legales</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>Podemos compartir su información médica en respuesta a una orden administrativa o de un tribunal o en respuesta a una citación.</li>
        </ul>  
      </div>
      
  </div>

  <div class="row" id="InstructionC-Div" style="display:none;"><hr>
      <div class="medium-12 large-12 columns">
        <b>InstructionC-Data</b>
      </div>
      <!-- hr -->
  </div>

  <div class="row" id="InstructionD-Div" style="display:none;"><hr>
      <div class="medium-12 large-12 columns">
        <b>InstructionD-Data</b>
      </div>
      <!-- hr -->
  </div>

    <div class="row" id="InstructionE-Div" style="display:none;"><hr>
      <div class="medium-12 large-12 columns">
          <b>InstructionE-Data</b>
      </div>
      <!-- hr -->
  </div>

  </section>

  <!-- Our Responsibilities -->

  <a name="our-resp"></a>
  <span class="alert label radius" data-magellan-destination="our-resp" style="background:#ffb901"><h3>Nuestras responsabilidades</h3></span>

  <section class="collapse panel radius">

    <div class="row">
      <div class="medium-12 large-12 columns">  
        <ul class="disc">
          <li>Estamos obligados por ley a mantener la privacidad y seguridad de su información médica protegida.</li>
          <li>Le haremos saber de inmediato si ocurre un incumplimiento que pueda haber comprometido la privacidad o seguridad de su información.</li>
          <li> Debemos seguir los deberes y prácticas de privacidad descritas en esta notificación y entregarle una copia de la misma.</li>
          <li>No utilizaremos ni compartiremos su información de otra manera distinta a la aquí descrita, a menos que usted nos diga por escrito que podemos hacerlo. Si nos dice que podemos, puede cambiar de parecer en cualquier momento. Háganos saber por escrito si usted cambia de parecer.</li>
        </ul>
        <p>Para mayor información, visite: <a href="http://www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/factsheets_spanish.html"><b>www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/factsheets_spanish.html</b></a> disponible en español.</p>
            <p><b>Cambios a los términos de esta notificación</b><br> Podemos modificar los términos de esta notificación, y los cambios se aplicarán a toda la información que tenemos sobre usted. La nueva notificación estará disponible según se solicite, en nuestro sitio web, y le enviaremos una copia por correo.
        </p>
      </div>
       <hr> 
    </div>
    
    <div id="InstructionF-Div" style="display:none;">
      <hr> 
      <b>InstructionF-Data</b>
    </div>  
  </section>

  <section class="panel callout radius"  id="InstructionG-Div" style="display:none;">
    <p><b>Esta Notificación de Prácticas de Privacidad se aplica a las siguientes organizaciones.</b></p>
   <b>InstructionG-Data</b>
  </section>

  <section class="panel radius" id="InstructionH-Div" style="display:none;">
    <b>InstructionH-Data</b>
  </section>
</form>

    <!-- End Thumbnails -->
    </div>
  </div>
 
    <!-- Footer -->
      <footer class="row">
        <div class="large-12 columns"><hr />
          <div class="row">
            <div class="large-6 columns">
            </div>
          </div>
        </div>
      </footer>
 
    <!-- End Footer -->
 
    </div>
  </div>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.0/js/vendor/jquery.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/js/foundation.min.js"></script>
      <script>
        $(document).foundation();
        $('#printMe').click(function(){
          window.print();
        });
      </script>
    </body>
    </html>