<!DOCTYPE html>
    <!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
    <html class="no-js" lang="en" >
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>docTitle</title>

      <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/css/normalize.css">
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/css/foundation.css">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/js/vendor/modernizr.js"></script>
      <style type="text/css">
        @media print {    
            #stickyNav { display: none; }
        }
      </style>
    </head>
      <body>

  <!-- body content here -->
  <div class="row">
  <div class="large-12 columns">
  <!-- Your Rights -->
  <a name="top"></a> 
  <!-- Thumbnails -->
  <div class="row"  id="stickyNav">  
    <div class="large-12 medium-12 columns">
      <!-- Start magellan navigation -->
        <div class="magellan-container" data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;" style="">
          <dl class="sub-nav">
            <dd data-magellan-arrival="your-rights">
                <a href="#your-rights"><b>Your Rights</b></a>
             </dd>
            <dd data-magellan-arrival="your-choices">
                <a href="#your-choices"><b>Your Choices</b></a>
             </dd>
            <dd data-magellan-arrival="our-uses">
              <a href="#our-uses"><b>Our Uses and Disclosures</b></a>
            </dd>
            <dd data-magellan-arrival="our-resp">
              <a href="#our-resp"><b>Our Responsibilities</b></a>
            </dd>
            <dd data-magellan-arrival="top">
              <a href="#top"><b>Top ↑</b></a>
            </dd>
             <dd data-magellan-arrival="top">
              <a href="#top" id="printMe"><b>Print Page █</b></a>
            </dd>
          </dl>
        </div>
      <!-- End magellan navigation -->  
    </div> 
  </div>

  <div class="row">
  </div>

  <form>
    <div class="row">
      <div class="medium-5 large-5 columns">
        <div class="panel callout radius" style="border:none; background:none;">
          <label style="font-size:18px;font-weight:bold;"><b>InstructionA-Data</b></label>
        </div>  
      </div>
      <div class="medium-7 large7 columns left">
        <div class="panel callout radius" style="border:none; background:none;">
          <label><b>InstructionB-Data</b></label>
        </div>  
      </div>
    </div>

  <!-- Intro -->
  <div class="row collapse panel radius">
    <div class="medium-6 large-4 columns">
      <h4>Your Information</h4>
      <h4>Your Rights</h4>
      <h4>Your Responsibilities</h4>
    </div>
    <div class="medium-6 large-8 columns">
        <p>This notice describes how medical information about you may be used and disclosed and how you can get access to this information. Please review it carefully.</p>
    </div>
  </div>

  <div class="row collapse">
    <div class="medium-6 large-9 columns">
      <p></p>
    </div>
  </div>   

  <!-- Your Rights -->
  <a name="your-rights"></a> 
  <span class="alert label radius" data-magellan-destination="your-rights" style="background:#ef5121"><h3>Your Rights</h3></span>

  <section class="panel callout radius">

    <div class="row collapse">
      <div class="medium-12 large-12 columns">
      <p><b>When it comes to your health information, you have certain rights.</b> This section explains your rights and some of our responsibilities to help you.</p>
      </div>
      <hr> 
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Get an electronic or paper copy of your medical record</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>You can ask to see or get an electronic or paper copy of your medical record and other health information we have about you. Ask us how to do this.</li>
            <li>We will provide a copy or a summary of your health information, usually within 30 days of your request. We may charge a reasonable, cost-based fee.</li>
          </ul>  
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Ask us to correct your medical record</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>You can ask us to correct health information about you that you think is incorrect or incomplete. Ask us how to do this.</li>
            <li>We may say "no" to your request, but we’ll tell you why in writing within 60 days.</li>
          </ul>  
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Request confidential communications</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>You can ask us to contact you in a specific way (for example, home or office phone) or to send mail to a different address.</li>
            <li>We will say "yes" to all reasonable requests.</li>
          </ul>  
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Ask us to limit what we use or share</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>You can ask us not to use or share certain health information for treatment, payment, or our operations. We are not required to agree to your request, and we may say "no" if it would affect your care.</li>
            <li>If you pay for a service or health care item out-of-pocket in full, you can ask us not to share that information for the purpose of payment or our operations with your health insurer. We will say "yes" unless a law requires us to share that information.</li>
          </ul>  
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Get a list of those with whom we've shared information</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>You can ask for a list (accounting) of the times we've shared your health information for six years prior to the date you ask, who we shared it with, and why.</li>
            <li>We will include all the disclosures except for those about treatment, payment, and health care operations, and certain other disclosures (such as any you asked us to make). We’ll provide one accounting a year for free but will charge a reasonable, cost-based fee if you ask for another one within 12 months.</li>
          </ul>  
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Get a copy of this privacy notice</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>You can ask for a paper copy of this notice at any time, even if you have agreed to receive the notice electronically. We will provide you with a paper copy promptly.</li>
          </ul>  
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>Choose someone to act for you</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>If you have given someone medical power of attorney or if someone is your legal guardian, that person can exercise your rights and make choices about your health information.</li>
            <li>We will make sure the person has this authority and can act for you before we take any action.</li>
          </ul>  
        </div>
        <hr>
    </div>

     <div class="row">
        <div class="medium-6 large-4 columns"><b>File a complaint if you feel your rights are violated</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>You can complain if you feel we have violated your rights by contacting us using the information</li>
            <li>You can file a complaint with the U.S. Department of Health and Human Services Office for Civil Rights by sending a letter to 200 Independence Avenue, S.W., Washington, D.C. 20201, calling 1-877-696-6775, or visiting <a href="http://www.hhs.gov/ocr/privacy/hipaa/complaints/"><b>www.hhs.gov/ocr/privacy/hipaa/complaints/</b></a></li>
            <li>We will not retaliate against you for filing a complaint.</li>
          </ul>  
        </div>
    </div>
  </section>

  <!-- Your Choices -->

  <a name="your-choices"></a> 
  <span class="alert label radius" data-magellan-destination="your-choices" style="background:#7cba01"><h3>Your Choices</h3></span>

  <section class="collapse panel radius">
    <div class="row">
      <div class="medium-12 large-12 columns">  
        <p><b>For certain health information, you can tell us your choices about what we share.</b> If you have a clear preference for how we share your information in the situations described below, talk to us. Tell us what you want us to do, and we will follow your instructions.</p>
      </div>
       <hr> 
    </div>

    <div class="row">
      <div class="medium-6 large-4 columns"><b>In these cases, you have both the right and choice to tell us to:</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>Share information with your family, close friends, or others involved in your care</li>
          <li>Share information in a disaster relief situation</li>
          <li>Include your information in a hospital directory</li>
          <li>Contact you for fundraising efforts</li>
        </ul>
        <p><i>If you are not able to tell us your preference, for example if you are unconscious, we may go ahead and share your information if we believe it is in your best interest. We may also share your information when needed to lessen a serious and imminent threat to health or safety.</i></p>  
      </div>
      <hr>
   </div>

    <div class="row">
        <div class="medium-6 large-4 columns"><b>In these cases we never share your information unless you give us written permission:</b></div>
        <div class="medium-6 large-8 columns">
          <ul class="disc">
            <li>Marketing purposes</li>
            <li>Sale of your information</li>
            <li>Most sharing of psychotherapy notes</li>
          </ul>  
        </div>
        <hr>
    </div> 

  <div class="row">
      <div class="medium-6 large-4 columns"><b>In the case of fundraising:</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li> We may contact you for fundraising efforts, but you can tell us not to contact you again.</li>
        </ul>  
      </div>
    </div>

  </section>

  <!-- Our Uses and Disclosures -->

  <a name="our-uses"></a>
  <span class="alert label radius" data-magellan-destination="our-uses" style="background:#00a6f0"><h3>Our Uses and Disclosures</h3></span>

  <section class="collapse panel callout radius">

    <div class="row">
      <div class="medium-12 large-12 columns">  
        <p><b>How do we typically use or share your health information?</b><br> We typically use or share your health information in the following ways.</p>
      </div>
       <hr> 
    </div>

    <div class="row">
      <div class="medium-2 large-2 columns"><b>Treat you</b></div>
      <div class="medium-5 large-5 columns">
        <ul class="disc">
          <li>We can use your health information and share it with other professionals who are treating you.</li>
        </ul>  
      </div>
      <div class="medium-5 large-5 columns"><p><i><b>Example:</b>A doctor treating you for an injury asks another doctor about your overall health condition.</i></p></div>
      <hr>
    </div>

     <div class="row">
      <div class="medium-2 large-2 columns"><b>Run our organization</b></div>
      <div class="medium-5 large-5 columns">
        <ul class="disc">
          <li>We can use and share your health information to run our practice, improve your care, and contact you when necessary.</li>
        </ul>  
      </div>
      <div class="medium-5 large-5 columns"><p><i><b>Example:</b> We use health information about you to manage your treatment and services.</i></p></div>
      <hr>
    </div>

     <div class="row">
      <div class="medium-2 large-2 columns"><b>Bill for your services</b></div>
      <div class="medium-5 large-5 columns">
        <ul class="disc">
          <li>We can use and share your health information to bill and get payment from health plans or other entities.</li>
        </ul>  
      </div>
      <div class="medium-5 large-5 columns"><p><i><b>Example:</b> We give information about you to your health insurance plan so it will pay for your services.</i></p></div>
      <hr>
    </div>

     <div class="row">
      <div class="medium-12 large-12 columns">  
        <p><b>How else can we use or share your health information?</b>
           We are allowed or required to share your information in other ways – usually in ways that contribute to the public good, such as public health and research. We have to meet many conditions in the law before we can share your information for these purposes. For more information see: <a href="http://www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/index.html"><b>www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/index.html</b></a>.
        </p>
      </div>
       <hr> 
    </div>

    <div class="row">
      <div class="medium-6 large-4 columns"><b>Help with public health and safety issues</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>We can share health information about you for certain situations such as:
              <ul class="disc">
                <li>Preventing disease</li>
                <li>Helping with product recalls</li>
                <li>Reporting adverse reactions to medications</li>
                <li>Reporting suspected abuse, neglect, or domestic violence</li>
                <li>Preventing or reducing a serious threat to anyone's health or safety</li>
              </ul>
          </li>
        </ul>  
      </div>
      <hr>
    </div>

    <div class="row">
      <div class="medium-6 large-4 columns"><b>Do research</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>We can use or share your information for health research.</li>
        </ul>  
      </div>
      <hr>
    </div>

    <div class="row">
      <div class="medium-6 large-4 columns"><b>Comply with the law</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>We will share information about you if state or federal laws require it, including with the Department of Health and Human Services if it wants to see that we’re complying with federal privacy law.</li>
        </ul>  
      </div>
      <hr>
  </div>

  <div class="row">
      <div class="medium-6 large-4 columns"><b>Respond to organ and tissue donation requests</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>We can share health information about you with organ procurement organizations.</li>
        </ul>  
      </div>
      <hr>
  </div>

  <div class="row">
      <div class="medium-6 large-4 columns"><b>Work with a medical examiner or funeral director</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>We can share health information with a coroner, medical examiner, or funeral director when an individual dies.</li>
        </ul>  
      </div>
      <hr>
  </div>

  <div class="row">
      <div class="medium-6 large-4 columns"><b>Address workers' compensation, law enforcement, and other government requests</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
            <li>We can use or share health information about you:
                <ul class="disc">
                  <li>For workers' compensation claims</li>
                  <li>For law enforcement purposes or with a law enforcement official</li>
                  <li>With health oversight agencies for activities authorized by law</li>
                  <li>For special government functions such as military, national security, and presidential protective services</li>
                </ul>
            </li>
        </ul>      
      </div>
      <hr>
  </div>

  <div class="row">
      <div class="medium-6 large-4 columns"><b>Respond to lawsuits and legal actions</b></div>
      <div class="medium-6 large-8 columns">
        <ul class="disc">
          <li>We can share health information about you in response to a court or administrative order, or in response to a subpoena.</li>
        </ul>  
      </div>
      
  </div>

  <div class="row" id="InstructionC-Div" style="display:none;"><hr>
      <div class="medium-12 large-12 columns">
        <b>InstructionC-Data</b>
      </div>
      <!-- hr -->
  </div>

  <div class="row" id="InstructionD-Div" style="display:none;"><hr>
      <div class="medium-12 large-12 columns">
        <b>InstructionD-Data</b>
      </div>
      <!-- hr -->
  </div>

    <div class="row" id="InstructionE-Div" style="display:none;"><hr>
      <div class="medium-12 large-12 columns">
          <b>InstructionE-Data</b>
      </div>
      <!-- hr -->
  </div>

  </section>

  <!-- Our Responsibilities -->

  <a name="our-resp"></a>
  <span class="alert label radius" data-magellan-destination="our-resp" style="background:#ffb901"><h3>Our Responsibilities</h3></span>

  <section class="collapse panel radius">

    <div class="row">
      <div class="medium-12 large-12 columns">  
        <ul class="disc">
          <li>We are required by law to maintain the privacy and curity of your protected health information.</li>
          <li>We will let you know promptly if a breach occurs that may have compromised the privacy or security of your information.</li>
          <li> We must follow the duties and privacy practices described in this notice and give you a copy of it.</li>
          <li>We will not use or share your information other than as described here unless you tell us we can in writing. If you tell us we can, you may change your mind at any time. Let us know in writing if you change your mind.</li>
        </ul>
        <p>For more information see: <a href="http://www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/noticepp.html"><b>www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/noticepp.html.</b></a></p>
            <p><b>Changes to the Terms of this Notice</b><br> We can change the terms of this notice, and the changes will apply to all information we have about you. The new notice will be available upon request, in our office, and on our web site.
        </p>
      </div>
    </div>
    <div id="InstructionF-Div" style="display:none;">
      <hr> 
      <b>InstructionF-Data</b>
    </div>  
  </section>

  <section class="panel callout radius"  id="InstructionG-Div" style="display:none;">
    <p><b>This Notice of Privacy Practices applies to the following organizations.</b></p>
   <b>InstructionG-Data</b>
  </section>

  <section class="panel radius" id="InstructionH-Div" style="display:none;">
    <b>InstructionH-Data</b>
  </section>
</form>

    <!-- End Thumbnails -->
    </div>
  </div>
 
    <!-- Footer -->
      <footer class="row">
        <div class="large-12 columns"><hr />
          <div class="row">
            <div class="large-6 columns">
            </div>
          </div>
        </div>
      </footer>
 
    <!-- End Footer -->
 
    </div>
  </div>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.0/js/vendor/jquery.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/js/foundation.min.js"></script>
      <script>
        $(document).foundation();
        $('#printMe').click(function(){
          window.print();
        });
      </script>
    </body>
    </html>